<h1>Create a new article</h1>

<%= render 'form'%>
<%# <%= form_with scope: :article, url:articles_path,data: { turbo: false }, local: true do |f|%> 

<%= button_to 'Return to Article Listing', '/articles', method: :get%>